.single-table {
  background-color: #404040;
  font-size: 13px;
  color: #a6a6a6;
  text-align: center;
  thead {
    tr {
      th {
        font-size: 13px;
        color: #a6a6a6;
        text-align: center;
      }
    }
  }
  tbody {
    tr {
        .badge {
          color: #333333;
          text-align: center;
        }
    }
  }
}

