.navigation {
  .navbar {
    background: #1a1a1a;
    .navbar-brand {
      color: #a6a6a6;
    }
    .nav-item {
      .nav-link {
        color: #a6a6a6;
        font-weight: 600;
      }

      &.active {
        background: #a6a6a6;
        .nav-link {
          color: #1a1a1a;
        }
      }
    }
    .dropdown-menu {
      background: #404040;
    }
  }
}

