@import "../../style/variables";

.navigation {
  .navbar {
    background: #1a1a1a;
    transition: padding 600ms;

    &.navbar--fix-on-top {
      padding: 10px 8px;
    }

    .navbar-toggler {
      background-color: #333333;
    }

    .navbar-brand {
      color: $my-grey;
    }

    .nav-item {
      .nav-link {
        color: $my-grey;
        font-weight: 600;
      }
    }

    .dropdown-menu {
      background: $my-grey;
    }
  }
}

